pandas==2.3.3
numpy==2.3.4
facebook-business==24.0.0
pytz==2025.2
google-auth==2.40.3
google-api-core==2.27.0
google-cloud-bigquery==3.38.0
google-cloud-secret-manager==2.25.0
google-cloud-bigquery-storage==2.33.1
pyarrow==22.0.0
pandas-gbq==0.29.2

# Last updated: 2025-11-14